<nav 
	class="navbar navbar-inverse navbar-fixed-top" 
	role="navigation">
	<div class="container">
		<div class="navbar-header">
			<a 
				class="navbar-brand" 
				href="#">Betsson Movies
			</a>
		</div>
		<div class="input-group">
			<input
				[(ngModel)]="filter"
				class="form-control search-input" 
				placeholder="Look for your movie" />
			<span class="input-group-btn">
				<button
					(click)="filterList()"
					class="btn btn-default"
					type="button">Search!
				</button>
			</span>
		</div>
	</div>
</nav>
